@model Data.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<body>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            max-width: 1200px;
            margin: auto;
        }

        .product-items {
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding: 12px;
        }

        .product-item {
            width: 19%;
            background-color: white;
            padding: 12px;
            text-align: center;
        }

            .product-item img {
                width: 100%;
                margin-bottom: 20px;
            }

        .product-item-text {
            display: flex;
            justify-content: space-between;
        }

        .product-item button {
            margin-top: 12px;
            height: 30px;
            padding: 0 12px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            transition: all 0.3s ease;
        }

            .product-item button:hover {
                background-color: orange;
            }
        /* cart */
        .cart {
            width: 50%;
            margin: auto;
            text-align: center;
            padding-top: 30px;
        }

            .cart h2 {
                margin-bottom: 20px;
            }

            .cart table {
                width: 100%;
            }

                .cart table thead tr th:first-child {
                    text-align: left;
                }

                .cart table tr td {
                    border-bottom: 1px solid white;
                    padding: 12px 0;
                }

                .cart table thead tr th:last-child {
                    text-align: right;
                }

                .cart table tbody tr td:last-child {
                    text-align: right;
                }
    </style>

    <main id="main" data-aos="fade-up">
        <section id="hero">
            <div class="hero-container">
                <a asp-action="IndexShop" class="hero-logo" data-aos="zoom-in"><img src="/img/hero-logo.png" alt=""></a>
            </div>
        </section><!-- End Hero -->
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Portfoio Details</h2>
                    <ol>
                        <li><a asp-action="IndexShop">Home</a></li>
                        <li>Portfoio Details</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">
                                <section class="product">
                                    <div class="container">
                                        <div class="product-items">
                                            <div class="product-item">
                                                <img src="ip15.jpg" alt="" width="200px" height="170px">
                                                <div class="product-item-text">
                                                    <p><span>15.000.000</span><sub>đ</sub></p>
                                                    <h1 style="font-weight: normal;font: size 20px;font-weight: bold;">Iphone 15</h1>
                                                </div>
                                                <button>Thêm vào giỏ hàng</button>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="cart">
                                    <h2>Cart</h2>
                                    <form action="">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Sản phẩm</th>
                                                    <th>Giá</th>
                                                    <th>SL</th>
                                                    <th>Chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="display: flex;align-items: center;"><img style="width: 70px;" src="ip15.jpg" alt="">Iphone 15</td>
                                                    <td><span>15.000.000</span><sup>đ</sup></td>
                                                    <td><input style="width: 30px;outline: none;" type="number" value="1" min="1" step="1"></td>
                                                    <td style="cursor: pointer;">Xóa</td>
                                                </tr>
                                                <tr>
                                                    <td style="display: flex;align-items: center;"><img style="width: 70px;" src="ip15-black.jpg" alt="">Iphone 15</td>
                                                    <td><span>17.000.000</span><sup>đ</sup></td>
                                                    <td><input style="width: 30px;outline: none;" type="number" value="1" min="1" step="1"></td>
                                                    <td style="cursor: pointer;">Xóa</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="text-align: right;" class="price-total">
                                            <p style="font-weight: bold;">Tổng tiền: <span>15.000.000</span><sup>đ</sup></p>
                                        </div>
                                    </form>
                                </section>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Project information</h3>
                            <ul>
                                <li><strong>Category</strong>: Web design</li>
                                <li><strong>Client</strong>: ASU Company</li>
                                <li><strong>Project date</strong>: 01 March, 2020</li>
                                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>This is an example of portfolio detail</h2>
                            <p>
                                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <a href="#header" class="scrollto footer-logo"><img src="assets/img/hero-logo.png" alt=""></a>
                        <h3>Knight</h3>
                        <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
                    </div>
                </div>

                <div class="row footer-newsletter justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>

                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>

            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Knight</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>