@model LoginVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/StyleLogin.css" rel="stylesheet">
</head>
<body>
    <div class='brand'>
        <a href='https://www.jamiecoulter.co.uk' target='_blank'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png'>
        </a>
    </div>
    <div class='login'>
        <div class='login_title'>
            <span>Login to your account</span>
        </div>
        <div class='login_fields'>

            <form asp-action="IndexLogin" method="post">
                <div class="login_fields__user">
                    <div class="icon">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png" />
                    </div>
                    <input asp-for="Username" placeholder="Username" type="text" class="form-control" />
                    <div class="validation">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png" />
                    </div>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="login_fields__password">
                    <div class="icon">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png" />
                    </div>
                    <input asp-for="Password" placeholder="Password" type="password" class="form-control" />
                    <div class="validation">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="login_fields__submit">
                    <input type="submit" value="Log In" class="btn btn-primary" />
                </div>
            </form>

            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }
             
            </div>
        </div>
        <div class='success'>
            <h2>Authentication Success</h2>
            <p>Welcome back</p>
        </div>
        <div class='disclaimer'>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper laoreet placerat. Nullam semper auctor justo, rutrum posuere odio vulputate nec.</p>
        </div>
    </div>
    <div class='authent'>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'>
        <p>Authenticating...</p>
    </div>
    <div class='love'>
        <p>Made with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" /> by <a href='https://www.jamiecoulter.co.uk' target='_blank'> Jcoulterdesign </a></p>
    </div>
    <script src="~/js/LoginJs.js"></script>
</body>
@RenderBody()
</html>